<div class="login-block">
  <form class="form-signin">
    <p>
      <label for="username" class="sr-only">Username</label>
      <input #un type="text" id="username" name="username" class="form-control" placeholder="User Name" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Username</label>
      <input #pwd type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" (click)="login(un.value, pwd.value)">Login</button>
    <button class="btn btn-lg btn-primary btn-block" (click)="logout()">Logout</button>
  </form>
</div>
